@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{padding: 0;margin: 0;border: 0; font-family: 'Roboto', sans-serif;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

:root {
    --background-color: #ebecf0;
    --w-shadow-color: #babecc;
    --g-shadow-color: #fff;
    --btn-color: #61677c;
    --red-color: #ae1100;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    overflow: hidden;
}

div, p {
    color: var(--w-shadow-color);
    text-shadow: 1px 1px 1px var(--g-shadow-color);
}

p {
    text-align: center;

    font-weight: 800;
    font-size: 16px;
}

.reg-title {
    text-align: center;
    padding: 25px 0;
}

.reg-form {
    width: 350px;
    height: auto;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    margin-right: 8px;
    background: var(--background-color);
    box-shadow: inset 2px 2px 5px var(--w-shadow-color), inset -5px -5px 10px var(--g-shadow-color);
    width: 100%;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius : 320px;
    padding: 16px;
    text-shadow: 1px 1px 0 var(--g-shadow-color);
}

input:focus {
    box-shadow: inset 1px 1px 2px var(--w-shadow-color), inset -1px -1px 2px var(--g-shadow-color);
}

button {
    color: var(--btn-color);
    background-color: var(--background-color);
    box-shadow: -5px -5px 20px var(--g-shadow-color), 5px 5px 20px var(--w-shadow-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

button:hover {
    box-shadow: -2px -2px 5px var(--g-shadow-color), 2px 2px 5px var(--w-shadow-color);
}

button:active {
    box-shadow: inset 1px 1px 2px var(--w-shadow-color), inset -1px -1px 2px var(--g-shadow-color);
}

.toast {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    padding: 15px 25px 15px 15px;
    background-color: var(--background-color);
    box-shadow: -5px -5px 20px var(--g-shadow-color), 5px 5px 20px var(--w-shadow-color);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: inset 1px 1px 2px var(--w-shadow-color), inset -1px -1px 2px var(--g-shadow-color);
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.message .text.text-1 {
    font-weight: 600;
    color: var(--red-color);
    margin-bottom: 5%;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.toast .close:hover {
    color: var(--red-color);
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--background-color);
    border-radius: 100%;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--red-color);
}

.progress.active:before {
    animation: progress 3s linear forwards;

}

@keyframes progress {
    100% {
        right: 100%;
    }
}

.btn-create {
    display: block;
    width: 100%;
    color: var(--red-color);
}

.btn-create i{
    margin-right: 5px;
}

.goto-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
}

.sing-in-label, .sing-in-btn {
    font-weight: normal;
    text-align: center;
}

.sing-in-btn {
    color: var(--red-color);
    transition: all 0.2s ease-in-out;
}

.sing-in-btn:hover {
    cursor: pointer;
    color: var(--w-shadow-color);
}

.sing-in-btn:active {
    color: var(--red-color);
}

.btn-a-type, .btn-a-type:hover, .btn-a-type:after, .btn-a-type:active {
    font-weight: normal;
    box-shadow: none;
    padding: 0;
    color: var(--red-color);
    transition: all 0.2s ease-in-out;
}

.btn-a-type:hover {
    color: var(--w-shadow-color);
}

.btn-a-type:active {
    color: var(--red-color);
}

.nav {
    width: 100vw;
    height: 100px;
    background-color: var(--background-color);
    box-shadow: 10px 10px 12px 0 rgba(0,0,0,.07);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
}

li.logo {
    margin-right: auto;
    font-size: 1.5rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}

li:not(.logo) {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
}

li:not(.logo):hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
}

li:not(.logo):focus {
    outline: none;
    transform: scale(0.95);
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
}

li:not(.logo):hover, li:not(.logo):focus{
    color: var(--red-color);
}


